<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>The Governance Lab</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
  <script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
</head>

<body class="homepage" onwheel="scroll_dismiss()">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="index.html"><img src="images/govlab-logo-white.png"
        alt="Smarter Crowdsourcing | Zika"></a>
    <!-- Navigation links (hidden by default) -->
    <div class='lang-select'>

    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub"><a href="index.html">Home</a></div>
      <div class="menu-sub"><a href="about.html">About</a></div>
      <div class="menu-sub"> <a href="index.html#topics">Topic</a></div>
      <div class="menu-sub"><a href="team.html">Team</a></div>
      <div class="menu-sub"><a href=""></a></div>
      <div class="menu-sub"><a href=""></a></div>
      <div class="menu-sub"><a href=""></a></div>
      <!-- <div class="menu-sub"><a href="/recommendations.html">Recommendations</a></div>
      <div class="menu-sub"><a href="/map.html">Explore the Map</a></div>
      <div class="menu-sub"><a href="https://medium.com/smarter-crowdsourcing">Blog</a></div> -->
    </div>
  </div>
  <div class="hero">
    <img src="images/govlab-logo-wp.png">
    <h2>THE GOVLAB BLOG</h2>
  </div>
  <div class="search-section">
    <h3>Explore our knowledge base</h3>
    <p class="search-bar">SEARCH HERE</p>
    <p class="search-desc">The GovLab’s resources includes results from this blog, The Living Library and the Open
      Governance Research Exchange</p>
  </div>
  <h2 class="section-title">FEATURED POSTS</h2>
  <div class="b-events" id="blog" v-cloak>
    <div class="page-wrapper">
      <div class="">

        <div class="e-wrap">
          <div v-if="posts[0].featured == true" class="blog-item">

            <div class="img-col" :style="{ backgroundImage: 'url(' + posts[0].image.data.full_url+ ')' }"></div>
            <div class="text-col">

              <a class="post-title" :href="'./post/index.html?'+posts[0].slug">
                <h3 v-html="posts[0].title"></h3>
              </a>
              <div class="post-date">
                <!-- <p class="material-icons">insert_invitation</p> -->
                <h4><i>{{posts[0].original_date}}</i></h4>
              </div>

              <div class="post-content" v-html="posts[0].excerpt"></div>
              <div class="more-button main-color">
                <a class="b-button" :href="'./post/index.html?'+posts[0].slug" target="_blank"> Continue Reading<i
                    class="material-icons">keyboard_arrow_down</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog-col">
        <div v-for="(post,index) in posts" v-if="post.featured == true && index !=0" class="blog-col-item">
          <div style="padding: 0 4rem">
            <div class="img-col" :style="{ backgroundImage: 'url(' + post.image.data.full_url+ ')' }"></div>
            <!-- <div v-if="post.image == null" class="img-col" :style="{ backgroundImage: src(images/govlab-logo-wp.png)}"></div> -->
            <div class="text-col">

              <a class="post-title" :href="'./post/index.html?'+post.slug">
                <h3 v-html="post.title"></h3>
              </a>
              <div class="post-date">
                <!-- <p class="material-icons">insert_invitation</p> -->
                <h4><i>{{post.original_date}}</i></h4>
              </div>
              <div class="post-content" v-html="post.excerpt"></div>
              <div class="more-button main-color">
                <a class="b-button" :href="'./post/index.html?'+post.slug" target="_blank"> Continue Reading<i
                    class="material-icons">keyboard_arrow_down</i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="digest-section">
        <div>
          <h3><span><b>SUBSCRIBE</b></span> To the digest</h3>
          <p>A weekly curation of new finding and developments on innovation in governance</p>
          <a>Go to the living library</a>
        </div>
        <div>

        </div>
        
      </div>
      <h2 class="section-title">LATEST POSTS FROM THE GOVLAB</h2>
      <div v-for="post in posts" class="">
        <div v-if="post.featured == false" class="blog-item">

          <div class="text-col full-width">
            <div class="source-tag">
              <p>The GovLab Blog</p>
            </div>
            <a class="post-title" :href="'./post/index.html?'+post.slug">
              <h3 v-html="post.title"></h3>
            </a>
            <div class="post-date">
              <!-- <p class="material-icons">insert_invitation</p> -->
              <h4><i>{{post.original_date}}</i></h4>
            </div>

            <div class="post-content" v-html="post.excerpt"></div>
            <div class="more-button main-color">
              <a class="b-button" :href="'./post/index.html?'+post.slug" target="_blank"> Continue Reading <i
                  class="material-icons">keyboard_arrow_down</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="overflow-auto">
      <div>
        <b-pagination-nav v-model="currentPage" :number-of-pages="totalPages" :per-page="perPage" :link-gen="fetchPosts"
          align="center" class="customPagination" first-number></b-pagination-nav>
      </div>

    </div> -->

  </div>
  <footer class='footer-alt'>
    <div class="row align-center">
      <div class="medium-6 medium-centered columns">
      </div>

    </div>
    <div class="row">

      <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
          src="images/govlab-logo-white.png" alt="The GovLab"></a>

    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge" alt="Creative Commons License"
            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <p>&nbspThis work is licensed under a</p>&nbsp<a rel="license"
          href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
          International License.</a>.
      </div>
    </div>
  </div>
</body>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      }
    }
  }
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/blog_wp.js"></script>

</html>